# Timezone usada pelos containers
TZ=America/Sao_Paulo

# Porta local do Jellyfin
JELLYFIN_PORT=8096

# Porta local da interface web do qBittorrent
QBITTORRENT_WEB_PORT=8080

# Porta usada para conexões BitTorrent
QBITTORRENT_PORT=6881

# Porta local do Radarr
RADARR_PORT=7878

# Usuário/grupo padrão para containers LinuxServer
PUID=1000
PGID=1000

# Porta local do Prowlarr
PROWLARR_PORT=9696

# Porta local do Sonarr
SONARR_PORT=8989